# Web framework
Django==5.0.6
django-plotly-dash==2.4.5
dash==2.18.2
dash-bootstrap-components==1.7.1
plotly==6.0.1

# Data & ML
numpy==1.26.4
pandas==2.2.2
scikit-image==0.25.2 
scikit-learn==1.5.2 
scipy==1.13.0
joblib==1.4.2

# Image & GUI
matplotlib==3.9.0
pillow==10.3.0
pygame==2.5.2
customtkinter==5.2.2
opencv-python==4.11.0.86

# Utilities
requests==2.32.3


gunicorn==23.0.0
